html,
a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

h1 {
  padding-top: 5%;
  text-transform: uppercase;
}

.topboarder {
  height: 10px;
  background-color: #008A8A;
}

.logo {
  width: 80%;
}

.signin {
  padding-top: 20px;
}

.signin a{
  font-size: 13px;
  text-transform: uppercase;
  color: #686868;
}

.signin a:hover{
  font-size: 13px;
  text-transform: uppercase;
  color: #686868;
  text-decoration: none;
}

.intro {
  color:  #686868 ;
  padding-bottom: 50px;
}


.deck_text {
  padding-top: 15%;
  font-size:40px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}


.deck {
  height: 250px;
  background-color: #005C5C;
  padding-top: 20px;
  margin-top: 20px;
}

.deck:hover {
  background-color:   #008A8A;

}

.shadow {
  box-shadow: 5px 5px 2px #B0B0B0  ;
}

nav {
  background-color: white;
  width: 100%;
  margin: auto;
  height: 20%;
  padding: 20px;
}


ul {
   list-style-type: none;

}

.test {
  color: white;
}

.card {
  height: 400px;
  background-color: red;
}



/*SIGNIN*/

.middle {
  width: 600px;
  margin:auto;
}

label {

}