<div class="row">

  <div class="col-md-3">
    <a href=""><div class="deck text-center">
      <p>NAME FROM DB</p>
    </div></a>
  </div>

   <div class="col-md-3">
    <a href=""><div class="deck text-center">
      <p>NAME FROM DB</p>
    </div></a>
  </div>

 <div class="col-md-3">
    <a href=""><div class="deck text-center">
      <p>NAME FROM DB</p>
    </div></a>
  </div>

 <div class="col-md-3">
    <a href=""><div class="deck text-center">
      <p>NAME FROM DB</p>
    </div></a>
  </div>





</div>

