<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<body>
  <div class="topboarder">
    <div class="container">
    </div>
  </div>
  <nav class="shadow">
    <div class="container">
      <div class="row">
        <div class="brand col-md-3">
          <a href="/">
            <img class="logo" src="/imgs/logo.jpg">
          </a>
        </div>
          <ul class="signin">
              <li class= "col-md-2 col-md-offset-5 text-right">
                <a href="/login">Sign In</a>
              </li>
              <li class= "col-md-2 text-right">
                <a href="/users/new">Sign Up</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>

   <%= yield %>
</body>
</html>


