

<div class="container">
  <div class="row">
    <div class="card col-md-6 col-md-offset-3">

      <% if @check == true %>
      <div class=" answer text-center">
       <h1>It is!</h1>
        <div class="icon text-center">
          <i style="font-size:200px;" class="fa fa-check-square"></i>
        </div>
        </div>
      <% else %>
      <div class=" answer text-center">
        <h1>No, that is wrong</h1>
       <p>The right answer is ANSWER</p>
      </div>
        <div class="icon text-center">
          <i style="font-size:200px;" class="fa fa-minus-square"></i>
        </div>
      <% end %>

      <a class="next text-center" href="/question/<% @deck.id %>">NEXT</a>

  </div>
</div>




