
<div class="container">
  <div class="row">
    <div class="card col-md-6 col-md-offset-3">
      <h1><%= @current_card.question %></h1>
      <form action="/answer/<%= @current_card.id %>" method="post">
        <% @options.each do |option|%>
          <p><input type="radio" name="chosen_answer[<%= option.id %>]" value:"answer">
          <%= option.answer %></p>
        <%end%>
        <div class="button">
          <input type="submit" value="GO">
        </div>
      </form>
    </div>
  </div>
</div>

