
<div class="container">
  <div class="middle">
    <h1>Sign In</h1>

    <form id="sign-in" method="post" action="/login">
      <label class="label_new" for="username">Username: </label>
      <input type="text" name="username" placeholder="e.g., joe" >
      <br>

      <label class="label_new" for="password">Password: </label>
      <input type="password" name="password" placeholder="6 or more characters">


      <div class="button"><input type="submit" value="Sign In"></div>
    </form>
  </div>
</div>

